.bulletin {
    margin: 50px auto 50px auto;
    padding: 20px;
    width: 1000px;
}

.bulletin__contents {
    font-size: 15px;
    margin-top: 50px;
}

.information {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.btn {
    background-color: white;
    color: gray;
    font-size: 16px;
    border: none;
}

.btn:hover {
    color: black;
}